@import '../../styles/mixins.scss';
.Place {
  display: flex;
  flex: 11;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  &-container {
    padding: 14px 17px 0;
  }

  &-container-top {
    padding: 14px 17px 0;

    @include device (tablet) {
      padding: 14px 5px;
    }

    @include device (mobile) {
      padding: 14px 0px;
    }
  }

  &__topContainer {
    background-image: url('/place.jpg');
    width: 100%;
    min-height: 475px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1406px;
    border-radius: 49px;
    margin: 0 auto;
    color: white;
    margin-bottom: 222px;
    box-sizing: border-box;
    padding: 96px 85px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include device (tablet) {
      border-radius: 22px;
    }

   
  
    @include device (mobile) {
      border-radius: 0;
      margin-bottom: 35px;
      padding: 82px 20px 80px;
      min-height: 0;
    }

    &-greenLayer {
      background-color: #345b55;
      opacity: 85%;
     
      border-radius: 49px;
      position: absolute;
      top: 0px;
      left:0px;
      right:0px;
      bottom: 0px;
      z-index: 2;

      @include device (tablet) {
        border-radius: 22px;
      }
      

      @media (width < 640px) {
        padding: 96px 20px 20px;
        border-radius: 0;
      }
    }

    &-title {
      font-family: Poppins;
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0.01em;
      text-align: left;
      margin-bottom: 20px;
      z-index: 3;
    }

    &-description {
      font-family: Poppins;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -0.02em;
      text-align: left;
      z-index: 3;

      @media (width < 640px) {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0;
      }
    }
  }

  &-map-container {
    margin: 0 auto;
    max-width: 1032px;
    width: 100%;
    margin-bottom: 269px;

    @media (width < 640px) {
      margin-bottom: 30px;
    }
  }

  &__map {
    width: min(100%, 1032px);
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    aspect-ratio: 1032/613;
    overflow: hidden;

    @media (width < 640px) {
      flex-direction: column-reverse;
      aspect-ratio: unset;
    }

    &-card {
      width: 412px;
      color: white;
      height: 100%;
      background-color: #345b55;
      display: flex;
      flex-direction: column;
      padding: 28px 24px 26px;
      box-sizing: border-box;
      justify-content: space-between;
      min-height: min-content;

      @media (width < 640px) {
        width: 100%;
        aspect-ratio: unset;
        padding: 11px 20px;

        p[data-empty] {
          display: none;
        }
      }

      &-title {
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        line-height: 37.5px;
        text-align: left;

        @media (width < 640px) {
          display: none;
        }
      }

      &-description {
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;

        @media (width < 640px) {
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0;
        }
      }

      &-descriptionBold {
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: left;

        @media (width < 640px) {
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0;
        }
      }
    }

    &-img {
      background-image: url('/place-map.jpg');
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @media (width < 640px) {
        height: 45dvh;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__greenLabel {
    background-color: #b7c274;
    padding: 56px 20px 57px;
    box-sizing: border-box;
    width: 100%;

    @media (width < 640px) {
      padding: 72px 20px;
    }

    &-container {
      margin: 0 auto;
      max-width: 728px;
    }

    &-topText {
      font-family: Poppins;
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
      text-align: center;
      margin-bottom: 30px;

      @media (width < 640px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &-botText {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      margin-bottom: 45px;

      @media (width < 640px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &-button {
      margin: 0 auto;
      width: fit-content;
    }
  }
}
