@import '../../styles/mixins.scss';

.Program {
  white-space: pre-wrap;
  display: flex;
  flex: 11;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  &-container {
    @include device(desktop) {
      padding: 14px 17px 0;
    }

    @include device(tablet) {
      padding: 14px 5px 0;
    }

    @include device(mobile) {
      padding-top: 14px;
    }
  }

  &__topContainer {
    background-image: url('/program-bg.webp');
    width: 100%;
    min-height: 475px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1406px;
    border-radius: 49px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 96px 85px 52px;

    @include device(tablet) {
      border-radius: 22px;
    }

    @include device(mobile) {
      border-radius: 0px;
      padding: 91px 20px 24px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      min-height: auto;
    }

    &-title {
      font-family: Poppins;
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0.01em;
      text-align: left;
      margin-bottom: 20px;
      color: white;

      @include device(mobile) {
        //styleName: WP_H2;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.01em;
        text-align: left;
      }
    }

    &-description {
      font-family: Poppins;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -0.02em;
      text-align: left;
      color: white;
      margin-bottom: 45px;

      @include device(mobile) {
        //styleName: WP_Small copy;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
      }
    }

    &-button {
      max-width: 256px;

      @include device(mobile) {
        max-width: 171px;
      }
    }
  }

  &__agenda {
    width: 100%;
    background-image: url('/program-latki.svg');
    background-position: center -200px;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 1440px;
    margin: 0 auto;

    padding: 71px 25px 130px;

    @include device(tablet) {
      padding-top: 71px;
    }

    @include device(mobile) {
      padding-top: 41px;
      padding-bottom: 71px;
    }

    &-container {
      max-width: 1240px;
      margin: 0 auto;
      color: #345b55;
    }

    &-time {
      width: 120px;
    }

    &-title {
      font-family: Poppins;
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      margin-bottom: 66px;
      padding-top: 20px;

      @include device(mobile) {
        //styleName: WP_H3;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        padding-top: 0;
      }
    }

    &-row {
      width: 100%;
      border-bottom: 2px solid #345b55;
      min-height: 82px;
      display: flex;
      align-items: center;
      gap: 180px;

      &:first-child {
        @include device(desktop, tablet) {
          border-top: 2px solid #345b55;
        }
      }

      @include device(mobile) {
        flex-direction: column;
        gap: 14px;
        padding: 30px 0;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &-time {
      min-width: 179px;
      height: 59px;
      color: #ffffff;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -0.02em;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background-color: #345b55;
      text-wrap: nowrap;
      padding: 0 19px;
      box-sizing: border-box;

      &--gray {
        opacity: 80%;
      }
    }

    &-description {
      //styleName: WP_H3;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: left;

      @include device(mobile) {
        text-align: center;
      }
    }
  }
}
