.Contact {
    display: flex;
    flex: 11;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 17px 0 ;
    
    &__topContainer {       
        width: 100%;
        min-height: 475px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1406px;
        border-radius: 49px;
        background-color: #345B55;
        margin: 0 auto;
        color: white;  
        margin-bottom: 115px;
        box-sizing: border-box;
        padding: 96px 85px 29px;   
        position:relative;

        &-img {
            background-image: url('/contributors-lata.svg');
            position:absolute;
            top:0;
            left:500px;
            right: 0;
            bottom:0;
            gap: 0px;
            opacity: 0px;
            background-repeat: no-repeat;
        }

        &-title {
            font-family: Poppins;
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 0.01em;
            text-align: left;
            margin-bottom: 20px;
            z-index: 999;

        }

        &-description {
            font-family: Poppins;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-bottom: 100px;

            &--bold {
                font-family: Poppins;
                font-size: 40px;
                font-weight: 600;
                line-height: 60px;
                text-align: center;
            }
        }
    }

    


    &__form {
        color: #345B55;
        margin-bottom: 104px;



        &-title {
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;
            line-height: 45px;
            text-align: left;
            margin-bottom: 30px;

        }

        &__fieldsGrid {
            display: grid;
            grid-template-rows: 92px auto;
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
            row-gap: 16px;
            margin-bottom: 19px;
        }

        &-field {

            &--3 {
                grid-column: 1 / -1;
                
                
            }

        }

        &-label {
            display: block;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #345B55;
        }

        &-input {
            width: 100%;
            box-sizing: border-box;      
            height: 68px;
            padding: 13px 29px 13px 29px;
            gap: 10px;
            border-radius: 5px ;
            opacity: 0px;
            border: none;
            background-color: #345B5540;



            &--big {
                min-height: 300px;
                resize: none;  
            }


            &:focus {
                outline: none;
                border: 2px solid #345B55;
            }
        }

        &-description {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.011em;
            text-align: left;
            color: #345B55;
            margin-bottom: 29px;
        }

        &-button {
            all: unset;
            min-width: 246px;
            padding: 11.5px 49px;
            gap: 10px;
            border-radius: 30px;
            opacity: 0px;
            background: #345B55;
            color: white;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.0012em;
            text-align: center;
            box-sizing: border-box;
            transition: 0.2s;

            &:hover {
                scale: 105%;
                cursor: pointer;
            }
        }
    }



    &__details {

        &-title {
            font-family: Poppins;
            font-size: 30px;
            font-weight: 500;
            line-height: 45px;
            text-align: left;
            color: #345B55;
            margin-bottom: 62px;
        }

        &-cardsWrapper {
            display: flex;
            justify-content: space-between;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            margin-bottom: 101px;
            gap: 44px;

        }

        &__phone {
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 20px;
            background: #345B5540;
            padding: 23px 25px 9px 25px;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            gap: 60px;
            width: 347px;
            flex-grow: 1;
            cursor: pointer;
            color: black;
            text-decoration: none;
            

            &-icon {
                width:90px;
                height: 65px;
                margin: 0 auto;
            }
       
        }

        &__email {
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 20px;
            background: #345B5580;
            padding: 23px 32px 31px 32px;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            gap: 60px;
            color: black;
            text-decoration: none;    
            flex-grow: 2.4;
            

            &-icon {
                width:90px;
                height: 65px;
                margin: 0 auto;
            }
            
        }

        &__place {
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 20px;
            background: #345B55B2;
            cursor: pointer;
            padding: 23px 32px 31px 32px;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            gap: 60px;
            flex-grow: 2.4;
            color: black;
            text-decoration: none;
            

            &-icon {
                width:90px;
                height: 65px;
                margin: 0 auto;
            }
            
        }
    }
}