@use '../../styles/mixins.scss' as mixin;

.Footer {
  background-color: #345b55;
  color: white;
  padding: 0 17px 28px;

  &-container {
    @include mixin.device(mobile) {
      max-width: 400px;
    }
  }

  &__logo {
    &-img {
      margin: 18px 0 42px;
      width: 446px;

      @include mixin.device(mobile) {
        max-width: 299px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    @media (width < 720px) {
      flex-direction: column-reverse;
      gap: 44px;
    }

    &-contact {
      justify-content: space-around;

      &-title {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        margin-bottom: 5px;

        @include mixin.device(mobile) {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          margin-bottom: 26px;
        }
      }

      &-description {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

        margin-bottom: 8px;

        @include mixin.device(mobile) {
          //styleName: WP_Small copy;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }
      }
    }

    &-donate {
      &-title {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        margin-bottom: 5px;

        @include mixin.device(mobile) {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          margin-bottom: 26px;
        }
      }

      &-description {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

        margin-bottom: 8px;

        @include mixin.device(mobile) {
          //styleName: WP_Small copy;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }

        &--noWrap {
          text-wrap: nowrap;
        }
      }
    }

    &-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @media (width < 720px) {
        flex-direction: row;
        max-width: 231px;
        width: 100%;
        margin: 0 auto;
        // gap: 65px;
      }

      & img {
        width: 30px;
      }
    }
  }

  &__links {
    margin: 71px auto 0;
    gap: 20px;
    justify-content: space-between;
    display: flex;
    max-width: 1032px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: white;

    @include mixin.device(mobile) {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.03em;
      text-align: center;
    }

    &-link {
      text-decoration: none;
      color: white;
      transition: 0.1s;

      &:hover {
        scale: 103%;
      }
    }
  }

  &__rights {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 24px;
    background-color: #5d7c77;
    border-radius: 45px;
    padding: 5px;


    @include mixin.device(mobile) {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
}
