.Slider {
  background-color: white;
  padding-top: 44px;

  &-img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: flex;
    margin: auto auto;
    max-height: 80px;
    object-fit: cover;
    pointer-events: none;
  }
}

.swiper {
  height: 160px;
  background-color: white;    

  &-slide {
      height: 1200px;
      justify-content: center;
      align-items: center;
      display: flex !important;
      max-height: 100%;
      user-select: none;
    }

  &-wrapper {
    height: 110px !important;
    align-items: center;
  }
}

